In [1]:
import pandas as pd
import csv
import acquire

In [2]:
df = acquire.merge_dataframes()

In [3]:
df

,date,calories_burned,steps,distance,floors,minutes_sedentary,minutes_lightly_active,minutes_fairly_active,minutes_very_active,activity_calories
1,2018-04-26,"2,635","2,931",1.38,2,"1,347",93,0,0,566
2,2018-04-27,"3,649","9,971",4.7,19,"1,158",219,46,17,"1,752"
3,2018-04-28,"3,379","3,521",1.66,2,702,155,22,11,"1,124"
4,2018-04-29,"2,851","1,639",0.77,0,891,122,0,0,602
5,2018-04-30,"2,825","1,323",0.62,0,880,104,0,0,540
6,2018-05-01,"3,292","2,581",1.22,0,919,167,13,2,"1,068"
7,2018-05-02,"2,660","1,372",0.65,0,927,90,0,0,419
8,2018-05-03,"3,121","2,232",1.05,0,876,157,16,0,"1,006"
9,2018-05-04,"2,522",904,0.43,1,"1,012",61,0,0,269
10,2018-05-05,"2,551",833,0.39,0,969,68,0,0,326
11,2018-05-06,"2,771","1,383",0.65,0,976,103,0,0,506
12,2018-05-07,"2,524",952,0.45,0,907,63,0,0,283
13,2018-05-08,"2,591","1,187",0.56,2,"1,221",53,17,2,410
14,2018-05-09,"2,153",21,0.01,0,"1,438",2,0,0,8
15,2018-05-10,"3,081","1,364",0.64,0,"1,295",136,5,4,924
16,2018-05-11,"2,950","2,771",1.31,1,947,130,0,0,727
17,2018-05-12,"3,318","4,125",1.95,2,756,184,4,7,"1,113"
18,2018-05-13,"2,572","1,689",0.8,0,895,84,0,0,394
19,2018-05-14,"2,966","3,710",1.75,0,959,119,19,0,794
20,2018-05-15,"3,152","4,313",2.03,0,767,183,9,0,"1,011"
21,2018-05-16,"3,497","5,882",2.77,1,825,234,5,6,"1,396"
22,2018-05-17,"3,066","4,080",1.92,4,867,158,0,0,897
23,2018-05-18,"4,376","13,958",6.58,7,682,178,67,92,"2,549"
24,2018-05-19,"4,112","14,917",7.04,7,646,193,34,89,"2,228"
25,2018-05-20,"3,098","4,986",2.35,3,795,174,5,6,978
26,2018-05-21,"3,009","3,989",1.88,3,727,182,0,0,932
27,2018-05-22,"3,581","4,680",2.21,1,625,209,33,2,"1,460"
28,2018-05-23,"3,772","6,889",3.25,0,921,241,42,14,"1,765"
29,2018-05-24,"2,756","3,470",1.64,0,804,143,0,0,723
30,2018-05-25,"3,155","5,389",2.54,1,821,145,32,13,"1,127"
...,...,...,...,...,...,...,...,...,...,...
9,2018-11-06,"3,801","14,300",6.74,16,659,176,7,88,"1,939"
10,2018-11-07,"3,681","13,664",6.46,9,566,172,4,82,"1,882"
11,2018-11-08,"4,137","15,542",7.33,26,716,238,15,86,"2,436"
12,2018-11-09,"4,445","16,732",7.99,14,698,126,31,131,"2,671"
13,2018-11-10,"3,863","13,636",7.04,16,589,219,3,77,"2,115"
14,2018-11-11,"4,264","17,761",8.36,129,486,299,47,76,"2,717"
15,2018-11-12,"3,444","10,184",4.82,19,651,244,14,40,"1,705"
16,2018-11-13,"3,202","10,330",4.87,16,615,199,10,26,"1,376"
17,2018-11-14,"3,081","7,598",3.58,15,835,214,8,12,"1,250"
18,2018-11-15,"3,815","12,360",5.9,10,644,203,7,69,"2,082"
19,2018-11-16,"3,780","12,286",5.73,13,576,281,31,42,"2,114"
20,2018-11-17,"4,548","20,395",10.06,31,464,347,54,90,"3,077"
21,2018-11-18,"4,832","25,512",12,23,450,269,53,154,"3,373"
22,2018-11-19,"3,697","11,993",5.56,17,502,255,34,43,"2,062"
23,2018-11-20,"3,966","15,527",7.27,13,810,196,11,96,"2,260"
24,2018-11-21,"3,738","11,079",5.16,4,582,328,9,33,"2,101"
25,2018-11-22,"4,494","16,705",7.84,177,522,284,18,115,"2,868"
26,2018-11-23,"3,325","9,602",4.53,16,660,269,23,12,"1,619"
27,2018-11-24,"4,098","17,004",9.2,23,532,217,13,100,"2,428"
28,2018-11-25,"3,005","6,921",3.26,11,614,281,3,6,"1,306"
29,2018-11-26,"3,364","10,563",5.64,20,587,210,10,42,"1,605"
30,2018-11-27,"3,726","13,420",6.29,7,650,196,12,78,"2,027"
1,2018-11-29,"3,693","12,380",6.56,18,717,258,15,53,"2,051"
2,2018-11-30,"3,269","9,559",4.51,14,699,288,12,6,"1,577"
3,2018-12-01,"3,813","14,510",7.27,7,527,233,22,67,"2,124"
4,2018-12-02,"3,957","13,257",6.23,195,725,265,13,70,"2,305"
5,2018-12-03,"3,660","12,915",6.12,6,782,219,40,51,"1,993"
6,2018-12-04,"3,384","13,763",6.49,13,608,199,11,67,"1,663"
7,2018-12-05,"3,670","13,865",6.52,12,739,200,12,69,"1,968"
8,2018-12-06,"3,669","14,774",6.96,9,647,198,4,78,"1,962"

In [4]:
df.shape

(218, 10)

In [5]:
df.dtypes

date                      object
calories_burned           object
steps                     object
distance                  object
 floors                   object
minutes_sedentary         object
minutes_lightly_active    object
minutes_fairly_active     object
minutes_very_active       object
activity_calories         object
dtype: object

In [ ]:
with open('2018-04-26_through_2018-05-26.csv') as fd:
    reader=csv.reader(fd)
    interestingrows=[row for idx, row in enumerate(reader) if idx in range(1,33)]
    df = pd.DataFrame(interestingrows)

In [ ]:
interestingrows

In [ ]:
df = pd.DataFrame(interestingrows)

In [ ]:
df.head()

In [ ]:
with open('2018-05-27_through_2018-06-26.csv') as fd:
    reader=csv.reader(fd)
    interestingrows=[row for idx, row in enumerate(reader) if idx in range(1,33)]
    df = pd.DataFrame(interestingrows)

In [ ]:
interestingrows

In [ ]:
df1 = pd.DataFrame(interestingrows)

In [ ]:
df1

In [ ]:
with open('2018-06-27_through_2018-07-27.csv') as fd:
    reader=csv.reader(fd)
    interestingrows=[row for idx, row in enumerate(reader) if idx in range(1,33)]
    df = pd.DataFrame(interestingrows)

In [ ]:
df2 = pd.DataFrame(interestingrows)

In [ ]:
df2

In [ ]:
with open('2018-07-28_through_2018-08-26.csv') as fd:
    reader=csv.reader(fd)
    interestingrows=[row for idx, row in enumerate(reader) if idx in range(1,33)]
    df = pd.DataFrame(interestingrows)

In [ ]:
df3 = pd.DataFrame(interestingrows)

In [ ]:
df3

In [ ]:
with open('2018-08-27_through_2018-09-26.csv') as fd:
    reader=csv.reader(fd)
    interestingrows=[row for idx, row in enumerate(reader) if idx in range(1,33)]
    df = pd.DataFrame(interestingrows)

In [ ]:
df3 = pd.DataFrame(interestingrows)

In [ ]:
df3

In [ ]:
with open('2018-09-27_through_2018-10-27.csv') as fd:
    reader=csv.reader(fd)
    interestingrows=[row for idx, row in enumerate(reader) if idx in range(1,33)]
    df = pd.DataFrame(interestingrows)

In [ ]:
df4 = pd.DataFrame(interestingrows)

In [ ]:
df4